.img-logo{
	margin:10px;
}
.tmdb-credits{
	padding-top:20px;
	text-align:center;
	font-family:arial;
	font-size:10px;
}

.panel-thumbnail {
    text-align:center;
}

.img-thumbnail {  
  display: inline-block;  
  height: auto;  
  max-width: 100%;  
  padding: 4px;  
  line-height: 1.428571429;  
  background-color: #ffffff;  
  border: 1px solid #dddddd;  
  border-radius: 4px;  
  -webkit-transition: all 0.2s ease-in-out;  
          transition: all 0.2s ease-in-out;  
}  
    