<!DOCTYPE html>
<html ng-app="tmdbApiUse">
<head lang="en">
    <meta charset="UTF-8">
    <title>Skills Test</title>
    <!-- Styles -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">

    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/app.js"></script>


</head>
<body ng-controller="SearchController as searchCtrl">
    <div class="container">
         <div class="row">
			<div class="col-md-9">
				<img class="img-logo" src="images/logo.png" tile="Skills Test">
			</div>
			<div class="col-md-3 tmdb-credits">
					<img src="images/tmdb-logo.png" tile="tmdb-logo">
					<p>
						This product uses the TMDb API
						<br>
						but is not endorsed or certified by TMDb.
					</p>
			</div>
		</div>
        <div class="panel panel-default">
            <div class="panel-heading">
                Web application that allows you to search themoviedb.org API by actors and movies
            </div>
            <div class="panel-body">
                <form ng-submit="searchCtrl.doSearch()">
                    <div class="input-group">
                        <input id="input-search"  ng-model="searchCtrl.query" type="text" class="form-control" placeholder="movie name, tv show name or person name" />
                        <span class="input-group-btn">
                            <button id="btn-search" class="btn btn-primary" type="submit">Search!</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>

        <div id="div-panel-results" class="panel panel-default">
            <div class="panel-body">

                <div role="tabpanel">

                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#tab-panel-movie" aria-controls="tab-panel-movie" role="tab" data-toggle="tab">
                                Movies {{ '(' + searchCtrl.movieResult.total_results + ')' }}
                            </a>
                        </li>
                        <li role="presentation">
                            <a href="#tab-panel-tv" aria-controls="tab-panel-tv" role="tab" data-toggle="tab">
                                Tv Shows {{ '(' + searchCtrl.tvResult.total_results + ')' }}
                            </a>
                        </li>
                        <li role="presentation">
                            <a href="#tab-panel-person" aria-controls="tab-panel-person" role="tab" data-toggle="tab">
                                Persons {{ '(' + searchCtrl.personResult.total_results + ')' }}
                            </a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="tab-panel-movie">
                            <div id="tab-panel-body-movie" class="panel-body">
                                <movie-list-item></movie-list-item>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="tab-panel-tv">
                            <div id="tab-panel-body-tv" class="panel-body">
                                <tv-list-item></tv-list-item>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="tab-panel-person">
                            <div id="tab-panel-body-person" class="panel-body">
                                <person-list-item></person-list-item>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
        </div>
    </div>

</body>
</html>