<!--  Movie list item -->
<div class="panel panel-success" ng-repeat="movieListItem in searchCtrl.movieResult.results">
    <div class="panel-heading">{{ movieListItem.title }}</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-2 panel-thumbnail">
                    <img class="img-thumbnail"
                         ng-src="{{ movieListItemCtrl.getImgSrc(movieListItem.poster_path) }}"
                     />
                </div>
                <div class="col-md-10">
                    <strong>Adults :</strong> {{ movieListItem.adult }}
                    <br />
                    <strong>Original title:</strong> {{ movieListItem.original_title }}
                    <br />
                    <strong>Release date : </strong> {{ movieListItem.release_date | date }}
                    <br />
                    <strong>Vote average :</strong> {{ movieListItem.vote_average }}
                    <br />
                    <strong>Vote count :</strong> {{ movieListItem.vote_count }}
                </div>
            </div>
        </div>
    </div>
</div>