<!--  Movie list item -->
<div class="panel panel-success" ng-repeat="personListItem in searchCtrl.personResult.results">
    <div class="panel-heading">{{ personListItem.name }}</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2 panel-thumbnail">
                <img class="img-thumbnail"
                     ng-src="{{ personListItemCtrl.getImgSrc(personListItem.profile_path) }}"
                        />
            </div>
            <div class="col-md-10">
                <strong>Adults :</strong> {{ personListItem.adult }}
                <br />
                <strong>Known for:</strong>
                <ul>
                    <li ng-repeat="knowFor in personListItem.known_for">{{  knowFor.title  }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>
