<!--  Movie list item -->
<div class="panel panel-success" ng-repeat="tvListItem in searchCtrl.tvResult.results">
    <div class="panel-heading">{{ tvListItem.name }}</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2 panel-thumbnail">
                <img class="img-thumbnail"
                     ng-src="{{ tvListItemCtrl.getImgSrc(tvListItem.profile_path) }}"
                        />
            </div>
            <div class="col-md-10">
                <br />
                <strong>Original name:</strong> {{ tvListItem.original_name }}
                <br />
                <strong>First air date : </strong> {{ tvListItem.first_air_date | date }}
                <br />
                <strong>Vote average :</strong> {{ tvListItem.vote_average }}
                <br />
                <strong>Vote count :</strong> {{ tvListItem.vote_count }}
                <br />
            </div>
        </div>
    </div>
</div>
</div>